{{ define "main" }}
    <div class="container-fluid">
        <div class="fade-in">
            <div class="card">
                <div class="card-header">Jobs</div>
                <div class="card-body">
                    <noscript>This table uses datatables.js to provide sorting and filtering.</noscript>
                    <table id="jobs" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Nodes</th>
                            <th>ID (Short)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{- range .Details.Jobs -}}
                            <tr>
                                <td><a href="/jobs/{{ .Name }}">{{ .Name }}</a></td>
                                <td>{{ range .Nodes }}<a href="/nodes/{{ . }}">{{ . }} </a>{{ end }}</td>
                                <td>{{.GetIDShort }}</td>
                            </tr>
                        {{- else -}}
                            <tr>
                                <td colspan="3">None Yet
                                <td>
                            </tr>
                        {{- end -}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{ end }} {{ define "scripts" }}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#jobs').DataTable();
        });
    </script>
{{ end }}