{{ define "main" }}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">Task</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 30%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ .Details.Task.ID }}</td>
                        <th scope="row">Node</th>
                        <td><a href="/nodes/{{ .Details.Task.NodeID }}">{{ .Details.Task.NodeID }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td>{{ .Details.Task.CreatedAt.Format "01/02/2006" }}</td>
                        <th scope="row">Time</th>
                        <td>{{ .Details.Task.CreatedAt.Format "15:04:05" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{ template "taskState" .Details.Task.State }}</td>
                        <th scope="row">Plugin</th>
                        <td>{{ .Details.Task.Plugin }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Details</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Exit Code</th>
                        <td><code>{{ .Details.Task.ExitCode }}</code></td>
                    </tr>
                    {{ range $key, $val := .Details.Task.Details }}
                        <tr>
                            <th scope="row">{{ title $key }}</th>
                            <td><code>{{ $val }}</code></td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Log</div>
            <div class="card-body">
                {{ if eq .Details.Task.State 2 }}
                    <noscript>This log uses JS to automatically reload the log.</noscript>{{ end }}
                <div id="log" class="overflow-auto" style="height: 100%"><pre>
            {{- range .Details.Task.Log -}}
                <samp>{{ . }}</samp><br/>
            {{- else -}}
                <samp>No Logs Yet</samp>
            {{- end -}}
            </pre>
                </div>
            </div>
        </div>
    </div>
{{ end }}

{{ define "scripts" }}
    {{ if or (eq .Details.Task.State 2) (eq .Details.Task.State 6) }}
        <script type="text/javascript">
            function refresh() {
                $.get('', function (data) {
                    $(document.body).html(data);
                });
            }

            $(function () {
                setTimeout(refresh, 1000);
            });
        </script>
    {{ end }}
{{ end }}
