{{ define "base" }}
<!doctype html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.2.0/dist/css/coreui.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
</head>

<body class="c-app">
    {{ template "sidebar" . }}
    <div class="c-wrapper">
        {{ template "header" . }}
        <div class="c-body">
            <main class="c-main">
                hi
            </main>
        </div>
        {{ template "footer" . }}
    </div>

    <!-- CoreUI JavaScript -->
    <script src="https://unpkg.com/@coreui/coreui@3.2.0/dist/js/coreui.bundle.min.js"></script>
</body>

</html>
{{ end }}